table{
    background-color: pink;
    margin: auto;
}
#Result{
    width: 186px;

}
.btn{
    width: 34px;
    height: 32px;
}
#euq{
    width: 34px;
    height: 68px;
}
#zoe{
    width: 72px;
    height: 32px;
}